<div class="uk-cover-background uk-position-relative uk-flex-center" style="height: 530px; background-image: url(/static/img/background_banner.png);">
  <img class="uk-invisible" src="/static/img/background_banner.png" height="530" alt="">
  <div class="uk-position-cover uk-flex uk-flex-center uk-flex-middle uk-flex uk-flex-center uk-flex-column">
    <div style="background: rgba(68, 68, 68, 0.8); font-size: 50px; line-height: 75px; color: #fff;">
      &nbsp;Webspector&nbsp;
    </div>
    <div style="font-size: 10px; line-height: 10px; color: #fff;">&nbsp;</div>
    <div style="background: rgba(68, 68, 68, 0.8); font-size: 30px; line-height: 50px; color: #fff;">
      &nbsp;Some quotes. Explain Explain Explain...&nbsp;
    </div>
    <div style="font-size: 30px; line-height: 30px; color: #fff;">&nbsp;</div>
    <div class="uk-container uk-container-small">
      <div class="uk-width-xxlarge uk-align-center">
        {% include 'bigSearchBar.html.j2' %}
      </div>
    </div>
  </div>
</div>
