<div class="uk-margin uk-align-center">
  <div class="uk-card uk-card-small uk-card-default uk-card-body">
    <form class="uk-form" action="{{ url_for('search') }}" method="GET" id="search" uk-grid>
      <input type="text" class="uk-margin-medium-left uk-input uk-form-large uk-width-expand" placeholder="{{ search }}" name="key">
      <button class="uk-button uk-button-primary uk-button-large uk-width-auto" type=submit form="search">Inspect</button>
    </form>
  </div>
</div>
